# Dependencies
node_modules/

# Environment Variables & Secrets
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Operating System Files
.DS_Store
Thumbs.db

.vercel

# Android Keystore & Release Signing Secrets
*.jks
*.keystore
key.properties

# Firebase & Cloud Credentials
google-services.json
firebase-key.json
firebase-*.json

# Android Build Outputs
*.apk
*.aab

